@model TEKUS_V1_2018.Models.TBL_TEKUS_SERVICIOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TBL_TEKUS_SERVICIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VPORHORA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VPORHORA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_TEKUS_CLIENTES.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_TEKUS_CLIENTES.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SERVICIOS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
