@model IEnumerable<TEKUS_V1_2018.Models.TBL_TEKUS_SERVICIOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>CANTIDAD DE SERVICIOS: @ViewBag.Servicios</p>
<p>
   

        @Html.ListBox("ListaTareas", new SelectList(ViewBag.paises), htmlAttributes: new { @style = "width:280px;height :90px" })

   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VPORHORA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_TEKUS_CLIENTES.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_TEKUS_PAIS.NOMBRE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VPORHORA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBL_TEKUS_CLIENTES.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBL_TEKUS_PAIS.NOMBRE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_SERVICIOS }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_SERVICIOS }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_SERVICIOS })
            </td>
        </tr>
    }

</table>
