@model IEnumerable<TEKUS_V1_2018.Models.TBL_TEKUS_CLIENTES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREOE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_TEKUS_PAIS.NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORREOE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_TEKUS_PAIS.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_CLIENTES }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_CLIENTES }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_CLIENTES })
        </td>
    </tr>
}

</table>
